# default config can be found https://docs.astral.sh/ruff/configuration/

required-version = ">=0.13.0"

exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    ".vscode",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "docs",
    "node_modules",
    "site-packages",
    "venv",
]

indent-width = 4

[lint]
select = [ # https://docs.astral.sh/ruff/rules/
    "C",    # Complexity
    "D300", # prefer triple double quotes
    "D402", # forbid signature in first line
    "D417", # args in docstring must match function signature
    "E",    # PyCodeStyle Errors
    "F",    # PyFlakes
    "N",    # Naming
    "W",    # PyCodeStyle Warnings
    "ANN",  # flake8-annotations
    "B",    # flake8-bugbear
    "TC",   # flake8-type-checking
    "PTH",  # flake8-use-pathlib
    "NPY",  # NumPy specific rules
    "TID",  # flake8-tidy-imports
    "SIM",  # flake8-simplify
    "I",    # isort
    "PL",   # PyLint
    "ERA",  # eradicate
]
fixable = ["ALL"]
unfixable = []
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"
preview = true

[lint.pydocstyle]
convention = "google"

[format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"
docstring-code-format = true
docstring-code-line-length = "dynamic"
